@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  height: max-content;
}

body {
  height: 100%;
  box-sizing: border-box;
}

.img {
  @apply object-cover w-full h-full;
}

.btn-primary {
  @apply bg-orange-400 w-[150px] font-medium h-[44px] rounded-sm border-none shadow-sm  text-white;
}

.btn-tertiary {
  @apply px-6 md:px-[47px] lg:px-[60px] py-2 bg-orange-400 rounded-md shadow-sm shadow-tertiary-light text-white font-bold text-base;
}

.font-heading {
  @apply font-medium md:font-semibold md:text-2xl text-lg;
}

.font-normal {
  @apply text-sm md:text-base;
}

.buttonComp {
  &:disabled {
    opacity: 0.5;
  }
  @-moz-keyframes spin {
    100% {
      -moz-transform: rotate(360deg);
    }
  }
  @-webkit-keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  @keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .loader {
    margin: auto;
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
  }
}

.Inputabsolute {
  position: relative;
}
.password {
  position: absolute;
  right: 5px;
  top: 10px;
}
